
<a href="http://localhost:9292/">New Game</a>

<form action="/NewGame">
  My name is <%= @name %>.
  What's your name?
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>