
<a href="http://localhost:9292/">New Game</a>
	What is your name?
	<button name="name" type="submit" value="HTML">HTML</button>
	<a>
	
<!-- <form action="/" method="post">
  What is your name?
  <button name="name" type="submit" value="HTML">HTML</button>
</form> -->
