<% if @visitor != '' && @visitor != nil %>
  "Hello <%= @visitor %>, welcome to Battleships!""
  <form action="/newgame">
    <input type="submit" value="Single Player" >
  </form>
  
  <form action="/newgame_two_player">
    <input type="submit" value="Two Player" >
  </form>
<% else %>
  <form action="/name">
    What's your name?
    <input name="name" type="text">
    <input type="submit" value="Submit">
  </form>

<% end %>
