<% if @visitor != '' && @visitor != nil %>
  "Hello <%= @visitor %>, welcome to Battleships!""
  <form action="/newgame">
    <input type="submit" value="New Game" >
  </form>

<% else %>
  <form action="/name">
    What's your name?
    <input name="name" type="text">
    <input type="submit" value="Submit">
  </form>

<% end %>
