
<p>"Start placing your ships, <%=@visitor%>!"</p>
<style type="text/css">
.boards {
 width: 500px;
}

.myboard {
 float: left;
}

.enemyboard {
 float: right;
}
</style>

<div class='boards'>
 <div class='myboard'>
   My Board
   <pre> <%= $game.own_board_view $game.player_1 %> </pre>
   <pre> <%= $game.own_board_view $game.player_2 %> </pre>
 </div>
 <div class='enemyboard'>
   Enemy Board
   <pre> <%= $game.opponent_board_view $game.player_1 %> </pre>
 </div>
</div>

  <!-- <p>Place your Aircraft Carrier!(5 spaces long)</p> -->
  <div style= "padding-top:300px">Coordinates:


  <form method="post">
    <select name="ship">
       <option value="submarine">Submarine</option>
       <option value="destroyer">Destroyer</option>
       <option value="cruiser">Cruiser</option>
       <option value="battleship">Battleship</option>
       <option value="aircraft_carrier">Aircraft Carrier</option>
     </select>

    <input name="coordinate" type="text">
    <select name="direction">
    <option value="horizontally">Horizontally to the right</option>
    <option value=:vertically>Vertically down</option>
    <input value="Submit" type="submit">
  </form>
</div>

  <!-- <body style="font-family:courier; line-height: 0"> -->
